.react-datepicker { 
    font-size: 0.8rem;
    border-color: #FD7A99;
    border-width:2px;
  }

.form-control {
    font-family: "oldpicture";
    background-color: #FFE9EF !important;
    border:none;
}

.form-control:focus {
    border: none;
    border-bottom: 1px solid #fd7a99;
    box-shadow: none !important;
}

.react-datepicker__current-month {
    font-family: 'star';
    font-size: 1rem; 
}

.react-datepicker__header {   
    background-color: white;
    font-family: 'oldpicture';
    border-color: #FD7A99;
    border-width:1px;
}

.react-datepicker__navigation {   
    top: 10px !important; 
}

.react-datepicker__month {
    font-family: 'oldpicture';
}

.react-datepicker__time-container {
    border-color: #FD7A99;
    border-width:1px;
}

.react-datepicker__time {
    font-family: 'oldpicture';
}

.react-datepicker__day--disabled {     
    color: #cccccc; 
}

.react-datepicker__day--selected {
    font-weight: bold;
    background: #FD7A99;
    border-radius: 50%;
}

.react-datepicker__day:hover {
    background: #9D9D9D;
    border-radius: 50%;
}

.react-datepicker__day--selected:hover {
    background: #FD7A99;
    border-radius: 50%;
}

.react-datepicker__dateformat {
    font-family: "star";
}

.react-datepicker-time__header {
    font-family: 'star';
}

.react-datepicker__time-list-item--selected {
    background: #FD7A99 !important;
}

.react-datepicker__day--keyboard-selected {
    background: white;
    color: black;
    border-radius: 50%;
}

.react-datepicker__day-names {
    padding-top:3px;
    font-weight: bold;
}
.react-datepicker__day--weekend:first-child {
    color: red;
}
.react-datepicker__day--weekend:last-child {
    color: navy;
}

.react-datepicker__day-name:first-child {
    color: red;
}

.react-datepicker__day-name:last-child {
    color: navy;
}

.itemBox {
    position: relative;
}

.pointer:hover {
    cursor: pointer;
}

.input-hidden {
    visibility: hidden;
}

.icon-hidden {
    visibility: hidden;
}

#itemImg {
    display: none;
    color: black;

}

input[type=radio]:checked + label>img {
    opacity: 65%;
}

input[type=radio]:checked + label>#itemImg {
    display: block !important;
}

input[type=radio] + label>img {
    width: 150px;
    height: 150px;
    transition: 100ms all;
}

.backCheckIcon {
    position: absolute;
    top: 50px;
    left: 100px;
    width: 50px;
    height: 50px;
}

.cake0CheckIcon {
    position: absolute;
    top: 50px;
    left: 65px;
    width: 50px;
    height: 50px;
}

.cake1CheckIcon {
    position: absolute;
    top: 50px;
    left: 55px;
    width: 50px;
    height: 50px;
}

.candle0CheckIcon {
    position: absolute;
    top: 40px;
    left: 30px;
    width: 40px;
    height: 40px;
}

.candle1CheckIcon {
    position: absolute;
    top: 40px;
    left: 35px;
    width: 40px;
    height: 40px;
}

.candle2CheckIcon {
    position: absolute;
    top: 40px;
    left: 30px;
    width: 40px;
    height: 40px;
}