.h3 {
    display: inline;
    position: relative;
    bottom: 20px
}
.button{
    position: relative;
    left:30px;
    bottom:20px;
}
.email{
    background-color: white;
    color: rgb(155, 155, 155);
}